body {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/mini-project/back.jpg);
    background-size: cover;
    color: white;
}
.postContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.postDataBox{
    text-align: center;
}
.postElement{
    width: 100%;
    text-align: start;
    margin: 10px;
}
.commentBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
}
.divComment{
    width: 24%;
    height: 280px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    background: #7A808E;;
    color: black;
}
.dataComment{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    list-style: none;
}
